<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script> -->

</head>

<body>

    <div class="container">


        <div class="centrar">
            <h1>Sobre nuestra aplicación</h1>
            <p>
                a

            </p>
        </div>


    </div>

    <header>
        <img src="{% static 'img/logo.png' %}" alt="">
    </header>

    <!-- 
   <img src="{% static 'img/logo.png' %}" alt="">

    <button type="submit" class="btn btn-dark" id="botonDescarga">Descargar</button>

    <div id="descarga"></div> -->


</body>

<script src="{% static 'js/dispositivo.js' %}"> </script>

</html>