<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>


        <header>
 
        </header>

        <div>
            <h1 class="rosado centrar">Sobre nuestra aplicaciónxd</h1>
            <h2 class="rosado centrar">Trabajamos para mejorar la movilidad en el mundo</h2>
            <img class="dividir" src="{% static 'img/dividir.png' %}" alt="">
            <p class="centrar">Movilizamos al mundo, eso es lo que mejor hacemos. Es nuestra esencia. Corre por nuestras
                venas.
                Es lo que nos saca de la cama cada mañana. Nos motiva a reinventar constantemente la forma de
                movilizarnos mejor.
                Para ti. Por todos los lugares a los que quieres ir. Por todas las cosas que quieres conseguir.
                Por todas las formas en las que quieres generar ganancias. En todo el mundo. En tiempo real. A la
                increíble velocidad del presente.
            </p>
            <p class="centrar">Somos desarrolladores de DuocUC que une el mundo físico y digital para que todos puedan
                llegar a
                cualquier lugar con solo tocar un botón.
                Porque creemos en un mundo donde la movilidad debe ser accesible. Para que puedas moverte y generar
                ganancias con seguridad. De una manera
                que sea sostenible para nuestro planeta.
                Con nuestra aplicación podrás generar ingresos extras y al mismo tiempo estarás ayudando
                a otros estudiantes
                llegar a su destino de una manera segura y rápida. Fomentaras el compañerismo entre alumnos e instar a
                los alumnos a asistir
                presencialmente a clases.

            </p>
            <div class="row">
                <div class="col-4"><img class="fotoMuestra" src="{% static 'img/menuPrincipal.jpg' %}" alt=""></div>
                <div class="col-4"><img class="fotoMuestra" src="{% static 'img/CrearRuta.jpg' %}" alt=""></div>
                <div class="col-4"><img class="fotoMuestra" src="{% static 'img/informe.jpeg' %}" alt=""></div>

            </div>






        </div>

    </div>




</body>

<script src="{% static 'js/dispositivo.js' %}"> </script>

</html>




<!-- <div class="centrar">
                <button type="submit" class="btn btn-2" id="botonDescarga">Descargar</button>
                <div id="descarga"></div>
            </div> -->